@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap"); */

/* Optional custom font utility */


body {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}
