@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');



.sora-regular {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;  /* Medium */
  font-style: normal;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
}