@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap"); */

/* Optional custom font utility */


body {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}
/* For Chrome, Edge, and Safari */
.thin-scrollbar::-webkit-scrollbar {
  height: 6px;             /* horizontal scrollbar height */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* optional */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 3px;
}

/* For Firefox */
.thin-scrollbar {
  scrollbar-width: thin;           /* "auto" or "thin" */
  scrollbar-color: #c1c1c1 transparent;
}
